{% extends "layouts/base.twig" %}

{% block content %}
  <article id="post-{{post.ID}}">
    <section>
      <h1>{{post.title}}</h1>
      {{post.content}}
    </section>
  </article>
  
  <section>
    {% if not post.get_field('additional_text') is empty %}
      <h1>{{post.get_field('additional_text')}}</h1>
    {% endif %}
    
    {% if not post.get_field('image') is empty %}
      <img src="{{post.get_field('image') }}" alt="image"/>
      <img src="{{post.get_field('image')|resize(200,200) }}" alt="image"/>
      <img src="{{post.get_field('image')|resize('small') }}" alt="image"/>
      
      <br>
      myCustom: <img src="{{post.get_field('image')|resize('myCustom') }}" alt="image"/>
    {% endif %}

    THUMB: 
    <img src="{{ post.thumbnail.src }}" alt="image">
    
    <br><br>
    <img src="{{ post.thumbnail.src('small') }}" alt="image">
    
    
    
    <!-- Copy -->
   {% if not post.get_field('careers_offers') is empty %}
   <div class="c-card__container">
     {% for offer in post.get_field('careers_offers') %}
     <a href="{{ offer.url }}" class="c-card c-card--compact u-align-center" title="{{ offer.label }}">
         {% if offer.logo.url %}
            <figure class="c-card__figure">
                <img class="c-card__figure-img" src="{{ offer.logo.url }}" alt="">
            </figure>
         {% else %}
             {{ offer.label }}
         {% endif %}
      </a>
      <!-- / .c-card -->
      {% endfor %}
   </div>
   {% endif %}
  </section>

  
  
{% endblock %}
