{% extends "layouts/base.twig" %}

{% block content %}
  <h1>Custom Template</h1>
  
  <p class="js-greeting"></p>
  
  <select class="mySelect">
    <option value="0">Option 1</option>
    <option value="1">Option 2</option>
    <option value="2">Option 3</option>
  </select>

  <article id="post-{{post.ID}}">
    <section>
      <h1>{{post.title}}</h1>
      {{post.content}}
    </section>
  </article>
  
  <section>
    {% if not post.get_field('additional_text') is empty %}
      <h1>{{post.get_field('additional_text')}}</h1>
    {% endif %}
    
    {% if not post.get_field('image') is empty %}
      <img src="{{post.get_field('image') }}" alt="image"/>
      <img src="{{post.get_field('image')|resize(200,200) }}" alt="image"/>
      <img src="{{post.get_field('image')|resize('small') }}" alt="image"/>
      
      <br>
      myCustom: <img src="{{post.get_field('image')|resize('myCustom') }}" alt="image"/>
    {% endif %}

    THUMB: 
    <img src="{{ post.thumbnail.src('small') }}" alt="image">
    
    
    
    
    
    <h2> Gallery </h2>
    
    {% if not post.get_field('gallery') is empty %}
    <div>
      {% for image in post.get_field('gallery') %}
      <div>
        <img src="{{image.url|letterbox(150,150)}}" alt="image">
      </div>
      {% endfor %}
    </div>
    {%  elseif post.get_field('gallery') is empty %}
      <p>The gallery is empty</p>
    {% endif %}
    
    <br></br>
    <hr>
    <br><br>
    
    <h3>HERE SHOULD BE TEST: >> {{testContext}}</h3>
    
    <hr>
    
    <h2>Repeater</h2>
    <div class="my-list">
        {% for item in post.get_field('elements') %}
            <div class="item">
                <h4>{{item.header}}</h4>
                <h6>{{item.description}}</h6>
                <img src="{{TimberImage(item.image).src}}" />
            </div>
        {% endfor %}
    </div>
    
    
    
    
    <!-- Copy -->
   {% if not post.get_field('careers_offers') is empty %}
   <div class="c-card__container">
     {% for offer in post.get_field('careers_offers') %}
     <a href="{{ offer.url }}" class="c-card c-card--compact u-align-center" title="{{ offer.label }}">
         {% if offer.logo.url %}
            <figure class="c-card__figure">
                <img class="c-card__figure-img" src="{{ offer.logo.url }}" alt="">
            </figure>
         {% else %}
             {{ offer.label }}
         {% endif %}
      </a>
      <!-- / .c-card -->
      {% endfor %}
   </div>
   {% endif %}
  </section>

  
  
{% endblock %}
